/* custom downloaded fonts */
@font-face {
  font-family: 'OpenSans';
  src: url('Fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf');
}

@font-face {
  font-family: 'Caveat';
  src: url('Fonts/Caveat/Caveat-VariableFont_wght.ttf');
}

* {
  box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0;
}

body {
  background: rgb(26, 61, 77);
  background: linear-gradient(0deg, rgba(26, 61, 77, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background-attachment: fixed;

  font-family: OpenSans, Arial, sans-serif;
  font-weight: 300;
  color: #e5e5e5;

  font-size: 80%;
}

main {
  max-width: 70%;
  margin: auto;
  margin-top: 8rem;
}

/* text */
p {
  margin-top: 0.5em;
}

h1 {
  margin: 0;
  font-size: 400%;
}

h2 {
  margin: 0;
  font-size: 140%;
}

h3 {
  margin: 0;
  margin-top: 0.8em;
  font-size: 110%;
}

#mini-text {
  margin: 0;
  font-size: 90%;
}

nav > a:link {
  color: inherit;
  text-decoration: none;
  box-shadow: inset 0 0 0 0 hwb(0 84% 15% / 0.624);
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  cursor: url(Cursors/pointer_cursor.cur), auto;
}

nav > a:visited {
  color: rgb(150, 150, 150);
}

nav > a:hover {
  box-shadow: inset 110px 0 0 0 rgba(217, 215, 215, 0.624);
  color: rgb(0, 0, 0);
}

nav > a:active {
  box-shadow: inset 110px 0 0 0 #ffffff;
  color: #f0f0f0;
}

mark {
  background: linear-gradient(-100deg, hsla(280, 92%, 75%, 0.254), hsla(279, 92%, 75%, 0.508) 95%, hsla(274, 92%, 75%, 0.051));
  border-radius: 1em 0;
  color: inherit;
}

ol {
  list-style: none;
}

ul {
  list-style: square inside;
}

/* header and nav bar */
header {
  text-align: center;
  font-family: Caveat, sans-serif;
  font-size: 130%;
}

nav {
  padding: 0.3em;
  text-align: right;
}

nav a {
  padding-left: 1em;
  padding-right: 1em;
  font: 200 80% OpenSans, sans-serif;
  letter-spacing: 0.2em;
}

/* sections */
#quote {
  text-align: center;
  margin-top: 10rem;
  font-family: Caveat;
  font-weight: 200;
  font-size: 130%;
  color: #dadada;
}

/* form */
form {  
  max-width: 50rem;
  margin: auto;
  background-color: rgba(35, 35, 35, 0.2);
  border-bottom: rgb(26, 61, 77) 2px solid;
  border-left:rgb(26, 61, 77) 2px solid;
  border-bottom-left-radius: 2em;
  padding-inline: 1em;
  font-weight: 200;
  font-size: 90%;
  color: #bebebe;
}

form h2 {
  padding-top: 0.8em;
  padding-bottom: 0.3em;
  font-weight: 200;
  font-size: 150%;
  color: #e6e6e6;
}

form p {
  font-size: 80%;
  font-style: italic;
}

#extra-label {
  padding-right: 0.8em;
}

fieldset {
  padding: 1em;
  border:#363636 1px solid;
}

legend {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

textarea {
  margin-top: 0.8em;
  resize: none;
}

input:focus,
textarea:focus {
  outline: none;
  caret-color: white;
  background-color: rgba(40, 40, 40, 0.5);
}

input,
textarea {
  background-color: rgba(35, 35, 35, 0.2);
  box-shadow: none;
  border: none;
  border-bottom: 1px solid rgba(190, 190, 190, 0.5);
  margin-bottom: 1em;
  font: 300 100% OpenSans, Arial, sans-serif;
  color: white;
}

input[type=url] {
  width: 60%;
}

input[type=file] {
  visibility: hidden;
}

#attach-file {
  font-style: italic;
}

#attach-file:hover {
  color: #efefef;
}

.material-symbols-outlined {
  font-size: 1.6em !important;
  vertical-align: -0.15em;
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 40
}

input[type=radio] {
  background-color: rgb(35, 35, 35);
}

input[type='radio']:after {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 0.6rem;
  background-color: #191919;
  content: '';
  display: inline-block;
  border: 2px solid rgb(191, 191, 191);
}

input[type='radio']:checked:after {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 0.6rem;
  background-color: #4ca5aa;
}

input[type=submit] {
  width: 7rem;
  height: 2.5rem;
  border: none;
  outline: none;
  background: #2f2f2f;
  color: #dadada;
  font-weight: 200;
  font-size: 130%;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-top: 1em;

  transition-property: background;
  transition-duration: 1s;
}

input[type=submit]:hover {
  background: #505050;
}

/* footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(40, 40, 40, 0.6);
  font-weight: 200;
  text-align: center;
  padding: 0.5em;
}

footer details {
  display: inline;
}

footer h4 {
  display: inline;
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer a:hover {
  text-decoration: underline;
}

/* Medium devices */
@media only screen and (min-width: 600px) {

  body {
    font-size: 90%;
  }
  
}

/* Large devices */
@media only screen and (min-width: 1024px) {

  main {
    font-size: 110%;
  }
}
